<div class="mini-banner", data-controller="user-coordinates">
  <%= link_to toilets_path, data:{user_coordinates_target: "link"} do %>
    <%= image_tag "spotaloo_logo.png", class: "banner-logo" %>
  <% end %>
</div>

<div class="navbarloo" data-controller="user-coordinates">
  <% unless params["action"] == "dashboard" %>
      <% if current_user %>
        <%= link_to dashboard_path(id: @toilet), class: "butt" do %>
          <button class="navbar-blue-icon">
            <i class="fa-regular fa-user"></i>
              <p>Dashboard</p>
          </button>
        <% end %>
      <% else %>
        <%= link_to user_registration_path, class: "butt" do %>
          <button class="navbar-blue-icon">
            <i class="fa-regular fa-user"></i>
            <p>Login</p>
          </button>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to toilets_path, data:{user_coordinates_target: "link"}, class: "butt" do %>
        <button class="navbar-blue-icon">
          <i class="fa-solid fa-location-pin"></i>
          <p>Map</p>
        </button>
      <% end %>
      <%= link_to href="#favorites", class: "butt nav-dash-fav" do %>
        <button class="navbar-blue-icon"  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <i class="fa-solid fa-heart"></i>
          <p>Favorites</p>
        </button>
        <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> %>
      <% end %>
      <%= link_to href="#toilets", class: "butt nav-dash-toi" do %>
        <button class="navbar-blue-icon" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
          <i class="fa-solid fa-toilet"></i>
          <p>Toilets</p>
        </button>
        <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button> %>
      <% end %>
      <%= link_to href="#reviews", class: "butt nav-dash-rev" do %>
        <button class="navbar-blue-icon" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
          <i class="fa-solid fa-star"></i>
          <p>Reviews</p>
        </button>
        <%# <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> %>
      <% end %>
  <% end %>

  <% if params["action"] == "show" %>
    <%= link_to directions_path(id: @toilet), class: "butt" do %>
      <button class="blue-button">Lets go!</button>
    <%= link_to new_toilet_review_path(@toilet, Review.new), class: "butt" do %>
      <button class="blue-button">Rate it!</button>
    <% end %>
    <% end %>
  <% end %>

  <% if params["action"] == "directions" %>
    <%= link_to new_toilet_review_path(@toilet, Review.new), class: "butt" do %>
      <button class="blue-button">Rate it!</button>
    <% end %>
  <% end %>

  <% if params["action"] == "index" %>
    <%= link_to new_toilet_path(Toilet.new), class: "butt" do %>
      <button class="blue-button">Add Toilet</button>
    <% end %>
  <% end %>
</div>
