<div class="navbarloo">

  <% if params["action"] == "show" %>
    <%= link_to directions_path(id: @toilet), class: "lonk" do %>
      <button class=blue-button>Lets go!</button>
    <% end %>
  <% end %>
  <% if params["action"] == "directions" %>
     <%= link_to review_path(id: @toilet), class: "lonk" do %>
      <button class=blue-button>Rate it!</button>
    <% end %>
  <% end %>
  <% if params["action"] == "review" %>
    <%= link_to directions_path(id: @toilet), class: "lonk" do %>
      <button class=blue-button>Submit</button>
    <% end %>
  <% end %>
  <% if params["action"] == "index" %>
    <%= link_to directions_path(id: @toilet), class: "lonk" do %>
      <button class=blue-button>Create toilet</button>
    <% end %>
  <% end %>
  <% if params["action"] == "s" %>
    <%= link_to directions_path(id: @toilet), class: "lonk" do %>
      <button class=blue-button>Submit</button>
    <% end %>
  <% end %>

</div>
