<p class="categories-header">WHAT DO YOU NEED?</p>
<div class="container categories" data-controller="user-coordinates">
  <div class="category-icon" >
    <%= link_to toilets_path(toilet_params: "urinal"), data:{user_coordinates_target: "link"}  do %>
      <%= image_tag ("urinal.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "stall"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("stall.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "baby"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("baby.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "period"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("period-circle.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "accessible"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("accessible-icon.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "easy_read"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("easy_read.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "changing_room"), data:{user_coordinates_target: "link"} do %>
      <%= image_tag ("changing_room.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
</div>
