<p class="categories-header">WHAT DO YOU NEED?</p>

<div class="container categories">
  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654259794/development/noun-urinal_eormtq.png"), height: 100, crop: :fill %>
        <% end %>
  </div>

  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654259794/development/noun-toilet_f9glei.png"), height: 100, crop: :fill %>
        <% end %>
  </div>
  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654260628/development/noun-baby_zjgz1q.svg"), height: 100, crop: :fill %>
        <% end %>
  </div>
  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654259794/development/noun-period-circle_n5w6ks.png"), height: 100, crop: :fill %>
        <% end %>
  </div>
  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654259794/development/noun-bathroom_vbd0rb.png"), height: 100, crop: :fill %>
        <% end %>
  </div>
  <div class="category-icon">
        <%= link_to toilets_path do %>
          <%= cl_image_tag ("https://res.cloudinary.com/dq5eoxabt/image/upload/v1654260333/development/accessible-icon-brands_kjimoo.svg"), height: 100, crop: :fill %>
        <% end %>
  </div>

</div>
