<p class="categories-header">WHAT DO YOU NEED?</p>
<div class="container categories">
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "urinal") do %>
      <%= image_tag ("noun-urinal.png"), height: 100, crop: :fill %>
    <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "urinal") do %>
      <%= image_tag ("noun-toilet.png"), height: 100, crop: :fill %>        <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "baby") do %>
      <%= image_tag ("noun-baby.png"), height: 100, crop: :fill %>        <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "period") do %>
      <%= image_tag ("noun-period-circle.png"), height: 100, crop: :fill %>        <% end %>
  </div>
  <div class="category-icon">
    <%= link_to toilets_path(toilet_params: "accessible") do %>
      <%= image_tag ("accessible-icon.png"), height: 100, crop: :fill %>        <% end %>
  </div>
</div>
