<div class="container">
  <h5 class="text-center my-4 title-dash">Dashboard</h5>
</div>
<div data-controller="dashboard" class="dashboard-body">
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="favorites" class="dash-sections" data-dashboard-target="fav">
        <div class="container">
          <h6 class="text-left p-3">Favorites:</h6>
          <div class="toilet-grid">
            <% @favorites.each do |favorite| %>
              <%= render "toilets/toiletcard", toilet: favorite.toilet %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="toilets" class="dash-sections" data-dashboard-target="toi">
        <div class="container">
          <h6 class="text-left p-3">Your created toilets:</h6>
          <div class="toilet-grid">
            <% @toilets.each do |toilet| %>
              <%= render "toilets/toiletcard", toilet: toilet %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div id="reviews" class="dash-sections" data-dashboard-target="rev">
        <div class="container">
          <h6 class="text-left pt-3">Your Reviews:</h6>
          <% @reviews.each do |review| %>
            <% @user = User.find(review[:user_id]) %>
            <div class="container dashboard-reviews">
              <div>"<%=review.comment %>"

                <div class="small">
                  <%= @user[:username] == nil ? @user[:email] : @user[:username] %>
                  <%= "★" * review.rating.to_i + "☆" * ((review.rating.to_i - 5).abs) %>
                </div>

                <div class="button-container">
                  <% if policy(review).destroy? %>
                    <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "blue-out-button-small" %>
                  <% end %>
                  <% if policy(review).edit? %>
                    <%= link_to "Edit Review", edit_toilet_review_path(review.toilet, review), class: "blue-out-button-small" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
