<% pictures = []
    toilet.reviews.each do |review|
      review.photos.each do |photo|
        pictures.push(photo)
      end
    end %>

<%= link_to toilet_path(toilet), class: "tcard-link" do %>
<div class="tcard">
  <div class="tcard-image">
    <% if pictures[0] == nil %>
      <div class="no-img-big"></div>
    <% else %>
      <%= cl_image_tag pictures[0].key %>
    <% end %>
  </div>
  <div class="tcard-info">
    <div class="tcard-text">
      <h4><%= toilet.name %></h4>
      <p><%= toilet.address %></p>
    </div>
    <% if toilet.reviews.last != nil %>
      <div class="tcard-rating">
        <p><small>Rating: </small>
        <%= toilet.reviews.last.rating %>
        <i class="fa-solid fa-star"></i></p>
      </div>
    <% end %>
    <div class="tcard-favorite">
      <p><%= toilet.favorites.count %> <i class="fa-solid fa-heart"></i></p>
    </div>
  </div>
</div>
<% end %>
