<%= link_to toilet_path(toilet), class: "card-link" do %>
<div class="tcard">
  <div class="tcard-image">
    <% if toilet.reviews.last == nil %>
      <p>no image</p>
    <% elsif toilet.reviews.last.photos.first == nil %>
      <p>no image</p>
    <% else %>
      <%= cl_image_tag toilet.reviews.last.photos.first.key %>
    <% end %>
  </div>
  <div class="tcard-info">
    <div class="tcard-text">
      <h4><%= toilet.name %></h4>
      <p><%= toilet.address %></p>
    </div>
    <% if toilet.reviews.last != nil %>
      <div class="tcard-rating">
        <p><small>Rating: </small>
        <%= toilet.reviews.last.rating %>
        <i class="fa-solid fa-star"></i></p>
      </div>
    <% end %>
    <div class="tcard-favorite">
      <p><%= toilet.favorites.count %> <i class="fa-solid fa-heart"></i></p>
    </div>
  </div>
</div>
<% end %>
