  <div class="container horizontal-menu" data-controller="user-coordinates">
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "urinal"), data:{user_coordinates_target: "link"}  do %>
        <%= image_tag ("urinal.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "stall"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("stall.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "baby"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("baby.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "period"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("period-circle.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "accessible"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("accessible-icon.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "easy_read"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("easy_read.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
    <div class="category-icon">
      <%= link_to toilets_path(toilet_params: "changing_room"), data:{user_coordinates_target: "link"} do %>
        <%= image_tag ("changing_room.png"), height: 100, crop: :fill %>
      <% end %>
    </div>
  </div>

  <div style="width: 100vw; height: 60vh;"
    data-controller="map"
    data-map-markers-value="<%=@markers.to_json%>"
    data-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
  </div>
<div class="container">
</div>



<h1>Toilets counter: <%= @toilets.count %></h1>

<div class="container">
  <div class="toilet-grid">
    <% @toilets.each do |toilet| %>
      <%= render "toiletcard", toilet: toilet %>
    <% end %>
  </div>
</div>
