<% current_user != nil ? favorite = current_user.favorites.find_by(toilet: @toilet) : favorite = nil %>

<div class="button-back">
  <%= link_to toilets_path do %>
          <button class="btn-like"><i class="fa-solid fa-arrow-left"></i></button>
  <% end %>
</div>

<div class ="favoritebar">
  <% if favorite.nil? %>
    <!--<div class="small"> -->
        <!--<%= pluralize(@toilet.favorites.count, 'person') %> saved  this toilet
    </div> -->
    <div>
        <%= button_to toilet_favorites_path(@toilet), params: { favorite: { toilet_id: @toilet.id }}, method: :post, class: "btn-like" do %>
          <i class="fa-regular fa-heart"></i>
        <% end %>
    </div>
  <% else %>
    <!-- <div class="small">
        You and <%= pluralize(@toilet.favorites.count - 1, 'person') %> saved this toilet
    </div> -->
    <div>
        <%= link_to delete_favorite_path(favorite), data: { turbo_method: :delete } do %>
          <button class="btn-like"><i class="fa-solid fa-heart"></i></button>
        <% end %>
    </div>
  <% end %>
</div>


<%= render "allphotos", locals: { pictures: @pictures } %>
<br>
<div class="container">
  <h1> <%= @toilet.name %></h1>

    <h2 style="display: contents;">
      <%= "★" * @toilet.reviews.average(:rating).to_i + "☆" * ((@toilet.reviews.average(:rating).to_i - 5).abs) %></h2>
    <!-- <p class="small" style="display: contents;"> voted by <%= pluralize(@toilet.reviews.count, 'person') %> </p> -->

  <p> <%= @toilet.address %>  <span><%= @toilet.toilet_distance %></span></p>
</div>
<div class="container py-3">
  <div class="d-flex justify-content-start">
    <% @tag_list.each do |t| %>
      <div class="pe-2">
        <div class="tags"> <%= t %> </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container py-3">
  <h4 class="pb-3"> <%= pluralize(@toilet.reviews.count, 'Review') %> </h4>
  <%= render "/reviews/index", reviews: @toilet.reviews %>
</div>
