<% current_user != nil ? favorite = current_user.favorites.find_by(toilet: @toilet) : favorite = nil %>

<div class ="favoritebar">
  <% if favorite.nil? %>
    <!--<div class="small"> -->
        <!--<%= pluralize(@toilet.favorites.count, 'person') %> saved  this toilet
    </div> -->
    <div>
        <%= button_to "♡", toilet_favorites_path(@toilet), params: { favorite: { toilet_id: @toilet.id }}, method: :post, class: "btn-black small" %>

    </div>
  <% else %>
    <!-- <div class="small">
        You and <%= pluralize(@toilet.favorites.count - 1, 'person') %> saved this toilet
    </div> -->
    <div>
        <%= link_to delete_favorite_path(favorite), data: { turbo_method: :delete } do %>
          <button class="btn-black small">♥</button>
        <% end %>
    </div>
  <% end %>
</div>

<%= render "allphotos", locals: { pictures: @pictures } %>
<br>
<div class="container">
  <h1> <%= @toilet.name %></h1>

    <h2 style="display: contents;">
      <%= "★" * @toilet.reviews.average(:rating).to_i + "☆" * ((@toilet.reviews.average(:rating).to_i - 5).abs) %></h2>
    <!-- <p class="small" style="display: contents;"> voted by <%= pluralize(@toilet.reviews.count, 'person') %> </p> -->

  <p> <%= @toilet.address %>  <span><%= @toilet.toilet_distance %></span></p>
</div>

<div class="container">
  <h4><%= @toilet.reviews.count %> Reviews:</h4>
  <%= render "/reviews/index", reviews: @toilet.reviews %>
</div>

<h4>Review this toilet!</h4>
<%= render "/reviews/styledform", toilet: @toilet, review: @review %>

<%# old default version below, do not use, --> still in there to check on form syntax %>
<%#= render "/reviews/form", toilet: @toilet, review: @review %>

<!--
<% if policy(@toilet).destroy? %>
  <%= link_to "Delete Toilet", delete_toilet_path(@toilet), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger m-3" %>
<% end %>
<% if policy(@toilet).update? %>
  <%= link_to "Update Toilet", edit_toilet_path(@toilet), class: "btn btn-danger m-3" %>
<% end %>
-->
<%= link_to "Take me there", directions_path(id: @toilet), class: "btn btn-danger m-3" %>
