<div data-turbo="false">
  <%= simple_form_for([toilet, review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment %>
    <%= f.input :baby %>
    <%= f.input :accessible %>
    <%= f.submit %>
  <% end %>
</div>
