<div data-turbo="false">
  <%= simple_form_for([toilet, review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :comment %>
    <%= f.input :baby %>
    <%= f.input :accessible %>
    <%= f.input :sink %>
    <%= f.input :soap %>
    <%= f.input :paper %>
    <%= f.input :tampon %>
    <%= f.input :bin %>
    <%= f.input :hanger %>
    <%= f.input :spacious %>
    <%= f.input :clean %>
    <%= f.input :gendered %>
    <%= f.input :privacy %>
    <%= f.input :urinal %>
    <%= f.input :towel %>
    <%= f.input :gratis %>
    <%= f.submit class: "btn-black" %>
  <% end %>
</div>
