<!DOCTYPE html>
<html>
  <head>
    <title>RateYourToilet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <% if current_page?(root_path) %>
    <body class="splash-bg">
      <% unless current_page?(root_path) %>
          <nav>
            <%= render "shared/navbar" %>
          </nav>
      <% end %>
      <%# <%= render "shared/flashes" %>
      <%= yield %>
      <div class="navspace"></div>
    </body>
  <% else %>
    <body>
      <% unless current_page?(root_path) %>
          <nav>
            <%= render "shared/navbar" %>
          </nav>
      <% end %>
      <%# <%= render "shared/flashes" %>
      <%= yield %>
      <div class="navspace"></div>
    </body>
  <% end %>
</html>
